<div class="container">            
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">         
        <div class="panel panel-default" >
            <div class="panel-heading">
                <div class="panel-title text-center">BIENVENIDO</div>
            </div>     
            <div class="panel-body" >
                <div ng-show="error" class="alert alert-danger">{{error}}</div>
                <form id="form" name="form" ng-submit="login()" role="form" class="form-horizontal">
                    <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">El usuario es requerido</span>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" name="username" id="username" class="form-control" ng-model="username" required />
                    </div>                    
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">La contraseña es requerida</span>       
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
                    </div>
                    <div class="form-actions">
                        <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger"><i class="fa fa-sign-in"></i>&nbsp; Ingresar</button>
                    </div>
                </form>
            </div>                     
        </div>  
    </div>
</div>